.view-btn{
    background-color: #FFFFFF;
    border:none;
    opacity: 1;
}

.summary-container{
    height:135vh;
    width:80vw;
    background-color: #FFFFFF;
}

.summary-header{
    height: 80px;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
}

.summary-text{
    text-align: left;
    font: normal normal 600 22px/20px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}